APP_NAME=XXXXXXXXXXXXXXXX
APP_ENV=XXXXXXXXXXXXXXXX
BACKEND_PORT=XXXXXXXXXXXXXXXX
DATABASE_URL=XXXXXXXXXXXXXXXX
SECRET_KEY=XXXXXXXXXXXXXXXX
ALLOWED_ORIGINS=XXXXXXXXXXXXXXXX

# google auth
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXX
GOOGLE_REDIRECT_URI= XXXXXXXXXXXXXXXX

#news 
NEWS_API_KEY=XXXXXXXXXXXXXXXX